<h1>Grocery List</h1>

<ul id="grocery-list">
  <% @groceries.each do |item| %>
  <% if item["body"] == nil %>
    <li class="item">
      <%= item["name"] %> <a href='/groceries/<%= item["id"]%>'><%=item["name"]%></a>
    </li>
    <%else%>
    <li class="item">
      <%= item["name"] %> <a href='/groceries/<%= item["id"]%>'><%=item["name"]%></a>
    </li>
    <%end%>
  <% end %>
</ul>

<fieldset>
  <legend>Add Item</legend>
  <form method="post" action="/groceries">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <label for="comment">Comment</label>
    <input type="text" name="comment" id="comment" />

    <input type="submit" value="Submit" />
  </form>
</fieldset>
